@use 'variables';
@use 'hero';
@use 'event_regis';
@use 'footer';
@use './complements/time_counter';
@use './complements/buttons';
@use './complements/infos_bar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
  list-style: none;
  text-decoration: none;
  color: variables.$mainTextColor;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 90%;
  }
}