@use '../variables';

.button {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border: none;

  &--primary {
    margin: 0 auto 40px;
    background-color: variables.$backgorundButtonPrimary;
    color: variables.$globalColorBlack;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
  }

  &--second {
    flex-direction: column;
    align-items: center;
    background-color: variables.$backgorundButtonSecond;
  }

  @media (max-width: 900px) {
    max-width: 435px;
  }

  @media (max-width: 540px) {
    max-width: 325px;
  }


}