.infos-bar {
  display: flex;
  margin-bottom: 40px;

  &__content {
    margin: 0 auto;
    max-width: 492px;
    height: 100px;
    width: 100%;
    padding: 16px;

    display: flex;
    flex-direction: column;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;

    &--left {
      background-image: url('../images/$xoh8wz432vc.png');
    }

    &--right {
      background-image: url('../images/$fwg83hja32dr.png');
    }
  }

  &__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 29px;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__purchase-call {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    padding-bottom: 40px;
  }

  @media (max-width: 930px) {
    flex-direction: column;
    margin-bottom: 0px;

    &__content {
      margin-bottom: 30px;
    }

    &__purchase-call {
      max-width: 435px;
    }
  }
}